*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background: white;
    text-align: center;
}
a{
    font-size: 15px;
    text-align: center;
    color: rgb(29, 12, 179);
}
h3{
    text-align: center;
    background-color:rgb(105, 192, 233);
    height: 700px;
    width: 1709px;

}
