*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background: white;
    text-align: center;
}
a{
    font-size: 15px;
    text-align: center;
    color: black;
}
h3{
    text-align: center;
    background-color: blue;
    height: 300px;
    width: 1400px;

}
